In [ ]:
!pip install jamo

Collecting jamo
  Downloading jamo-0.4.1-py3-none-any.whl (9.5 kB)
Installing collected packages: jamo
Successfully installed jamo-0.4.1

In [ ]:
!pip install hangul-utils

Requirement already satisfied: hangul-utils in c:\users\82104\miniconda3\lib\site-packages (0.2)

In [ ]:
import pandas as pd

je_train = pd.read_table('je.train',header=None)
ko_train = pd.read_table('ko.train',header=None)

je_test = pd.read_table('je.test',header=None)
ko_test = pd.read_table('ko.test',header=None)

je_dev = pd.read_table('je.dev',header=None)
ko_dev = pd.read_table('ko.dev',header=None)

je_conv_train = pd.read_table('je_converted.train',header=None)

                                                        0
0                                                판관헤난 거 ?
1             우리 그냥 맨손에 맨손에 검질도 메고 , 검질도 비고 . 경헤난 , 옛날은 .
2                                                     에 .
3                                               응 , 거니까 .
4                                               운영헤 오다가 .
...                                                   ...
160351      예 . 옛날에는 저기 무슨 마을접이엔 헤가지고 , 뭐 상여접도 잇어나곡 뭐 계 .
160352                                            ᄄᆞᆷ떼기 ?
160353    이 선흘에 . 우리 살아난 집 이제 ᄄᆞᆫ 사름 살암저마는 , 우리 친정에 살아난 .
160354  구신 우러근에 옛날 어른덜 주지 창 그디 더꺼근에 이 제ᄉᆞ 때나 무시거 때랑 그디...
160355                                게민 고추장은 안 담강 먹엇수과 ?

[160356 rows x 1 columns]

In [ ]:
# 아래아가 포함된 행을 찾는 함수
def contains_arae_a(text):
    return 'ᆞ' in text or 'ᆢ' in text or 'ᆡ' in text
def contains_arae_a1(text):
    return 'ᆞ' in text
def contains_arae_a2(text):
    return 'ᆢ' in text
def contains_arae_a3(text):
    return 'ᆡ' in text

# 아래아가 포함된 행을 필터링
rows_with_arae_a = je_train[je_train[0].apply(contains_arae_a)]
rows_with_arae_a1 = je_train[je_train[0].apply(contains_arae_a1)]
rows_with_arae_a2 = je_train[je_train[0].apply(contains_arae_a2)]
rows_with_arae_a3 = je_train[je_train[0].apply(contains_arae_a3)]

                                                        0
5             에 , 산듸 , 아 요는 뭐이던지 복잡허게 나면은 우 ᄃᆞ탕은에 뒈들 아녀 .
15      대게 보민 조기광 생성 그런 거 국 끌리주 . 다른 건 몰라 , 나 원 . 다른 궤...
17                                     야 , ᄂᆞᆯ 낭 탈 때ᄁᆞ지 .
18      이젠 파짐치 , ᄒᆞ꼼 허민 요만이만 커가민 막 캐당 , 걸 . 맛은 잇주게 어린 ...
19      원 너무 밧이 궂이니까 조가 안 뒈여 . 안 되민 그 ᄀᆞ랑조를 ᄇᆞᆯ리면은 좀 뒈...
...                                                   ...
160339               그 조칲 , 피짚들은 여기 축산농가들 잇당 ᄃᆞ렌 허민 줘불고 .
160349  ᄐᆞᆮ곡 다시 젠젠헌 건 보리 두드리듯 두드리고 . 성읍리레 하영 허주 경허민 그걸...
160352                                            ᄄᆞᆷ떼기 ?
160353    이 선흘에 . 우리 살아난 집 이제 ᄄᆞᆫ 사름 살암저마는 , 우리 친정에 살아난 .
160354  구신 우러근에 옛날 어른덜 주지 창 그디 더꺼근에 이 제ᄉᆞ 때나 무시거 때랑 그디...

[36358 rows x 1 columns]

In [ ]:
# 아래아가 포함된 행들을 출력
rows_with_arae_a

In [ ]:
import unicodedata


def convert_arae_a_to_period(text):
    # 아래아를 온점으로 변환
    return text.replace('ᆞ', 'ㅗ').replace('ᆢ', 'ㅕ').replace('ᆡ', 'ㅐ')

# 각 행에 대해 변환 적용
je_train_converted = je_train.applymap(lambda x: convert_arae_a_to_period(x) if 'ᆞ' in x or 'ᆢ' in x or 'ᆡ' in x else x)
je_test_converted = je_test.applymap(lambda x: convert_arae_a_to_period(x) if 'ᆞ' in x or 'ᆢ' in x or 'ᆡ' in x else x)
je_dev_converted = je_dev.applymap(lambda x: convert_arae_a_to_period(x) if 'ᆞ' in x or 'ᆢ' in x or 'ᆡ' in x else x)


def normalize_string(s):
    if isinstance(s, str):
        return unicodedata.normalize('NFKC', s)
    return s

# 데이터프레임의 모든 요소에 정규화 함수 적용
je_convert_train = je_train_converted.applymap(normalize_string)
je_convert_test = je_test_converted.applymap(normalize_string)
je_convert_dev = je_dev_converted.applymap(normalize_string)

In [4]:
def convert_arae_a_to_period(text):
    # 아래아를 온점으로 변환
    return text.replace('ᆞ', 'ㅗ').replace('ᆢ', 'ㅕ').replace('ᆡ', 'ㅐ')

a = 'ᄄᆞᆷ떼기 ?'
convert_arae_a_to_period(a)

'ᄄㅗᆷ떼기 ?'

In [6]:
print('똠떼기 ?')

똠떼기 ?

In [ ]:
je = pd.concat([je_convert_train,je_convert_test,je_convert_dev])
ko = pd.concat([ko_train, ko_test, ko_dev])

In [ ]:
df_je_ko = pd.DataFrame()
df_je_ko['je'] = je
df_je_ko['ko'] = ko
df_je_ko

,je,ko
0,판관헤난 거 ?,판관했던 거 ?
1,"우리 그냥 맨손에 맨손에 검질도 메고 , 검질도 비고 . 경헤난 , 옛날은 .","우리 그냥 맨손에 맨손에 김도 매고 , 김도 베고 . 그렇게 했었어 , 옛날은 ."
2,에 .,예 .
3,"응 , 거니까 .","응 , 그러니까 ."
4,운영헤 오다가 .,운영해 오다가 .
...,...,...
4995,"누게 아느냐 ? 게난 거 다섯 상제 , 아덜 다섯 개민 다섯 개 다 헤낫어 옛날","누가 아니 ? 그러니까 다섯 상제 , 아들 다섯 개면 다섯 개 다 했었어 , 옛날 ."
4996,게메이 . 경허연 영영 허연 요망썩 요망썩 걸름을 헤영 그디 씨들어강 거 영 방 벌...,글쎄 . 그렇게 해서 이렇게 이렇게 해서 이만씩 이만씩 거름을 해서 거기 씨 들어간...
4997,영 열아근에 막 남죽으로 그냥 거 젓젠 허민 얼마나 힘들카부덴 .,이렇게 열어서 막 죽젓개로 그냥 거 저으려고 하면 얼마나 힘들까봐 .
4998,밧 갈 때 밧 갈레 가젠 하면은 .,밭 갈 때 밭 갈러 가려고 하면 .
4999,게민 산이곡 오름이곡 붙어 자칩주 .,그럼 산이고 오름이고 붙어 젖히 지

In [ ]:
df_je_ko.to_csv("df_je_ko.csv", sep='\t', header=False, index=False, encoding='utf-8')